*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.converterDisplay, .convertForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.converterDisplay{
    width: 100%;
    height: 100vh;
}

.converterDisplay h1{
    font-size: 3em;
}

.convertForm{
    width: 50em;
    border: 1px solid #e1e1e1;
    padding: 1em;
    border-radius: 1em;
}

.convertForm h2{
    font-size: 2em;
}

.convertForm select, button{
    padding: 1.5em;
    border: 1px solid #e1e1e1;
    border-radius: 0.5rem;
}

.convertForm label{
    font-size: 1.5em;
    margin-top: 1.5em;
}

.convertForm input{
    margin-top: 1em;
    text-align: center;
    font-size: 1em;
    padding: 1.5em;
    border: 1px solid #e1e1e1;
    border-radius: 0.5rem;
}

.convertForm button{
    margin-top: 2em;
    text-align: center;
    width: 20em;
    background-color: #2678bc;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 1em;
    transition: all 500ms ease-in-out;
}

.convertForm button:hover{
    background: none;
    border: 2px solid #2678bc;
    color: #000000; 
  }